<!--左側選單列-->
<div class="list-group">
    <a href="bk-product.php" class="list-group-item">產品列表</a>
    <a href="javascript:;" class="list-group-item">訂單列表</a>
    <a href="bk-product.php?mode=viewcart" class="list-group-item">檢視購物車</a>
    <a href="bk-product.php?mode=clearcart" class="list-group-item">清空購物車</a>
</div>