	<div class="list-group">
		<a href="bk-product.php" class="list-group-item div_bgcolor">產品列表</a>
		<a href="javascript:;" class="list-group-item div_bgcolor">訂單列表</a>
		<a href="bk-product.php?mode=clearcart" class="list-group-item div_bgcolor">清空購物車</a>
	</div>