<!--導航列-->
		<nav class="navbar navbar-expand-lg nav_top">
			<div
				class="container-fluid">
				<!-- 網站品牌 -->
				<a class="navbar-brand" href="#">Shen
				</a>

				<!-- 漢堡選單按鈕 (小螢幕顯示) -->
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<!-- 導航菜單內容 -->
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="../index.html">回到首頁</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>